.login-buttons {
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem;

  button {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  .email-button {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .login-buttons {
    button {
      width: 50%;
    }
  }

  hr {
    width: 90% !important;
  }

  .login-register-and-forget-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}
